body {
    background-color: #08161e;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.my_photo {
    background: url(../images/me.jpg) no-repeat center center;
    background-size: 100%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.nav_bar {
    font-size: 30px;
    font-weight: bold;
}

.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;
}

.container {
    margin-top: 30px;
}

.title_photo {
    text-align: center;
}

.cat_button {
    text-align: center;
}

.orange_button {
    border: none;
    border-radius: 12px;
    width: 250px;
    height: 40px;
    background-color:chocolate;
    color: bisque;
    font-weight: bold;
    margin-bottom: 30px;
}

.continue_button {
    margin-left: -12px;
    width: 400px;
}

.index {
    text-align: center;
}

.form_reg {
    width: 400px;
    margin-bottom: 10px;
}

.form_post {
    width: 400px;
    margin-left: -12px;
    margin-bottom: 10px;
}